**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
name="ahmed"
print(len(name))
counter = 0
for i in name:
    counter += 1
print(counter)

5
5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [3]:
x=input()
if len(x)>=2:
    print(x[:2]+x[-2:])
else:
    print("error")

zaia

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [9]:
name= input()
if len(name)<3:
    print(" ")
else:
    if name [-3: ] =="ing":
        print(name+"ly")
    else:
         print(name+"ing")

zikoing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [1]:
name = ["ziko","mohamed" , "zakaria yahia" ]
londest_word = max(name,key=len)
print(londest_word)

zakaria yahia

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [4]:
name = "zik00o"
x=name[-1] + name[1:-1]+ name[0]
print(x)

oik00z

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [5]:
name="zakaria"
print(name[::2])

zkra

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [6]:
string=input("enter the word")
words= string.split()
print(words)
for word in words:
    print(word,string.count(word))

['rgieri', 'jngnn', 'vnrnrkg', 'njndfkbn']
rgieri 1
jngnn 1
vnrnrkg 1
njndfkbn 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
name= input()
print(name.upper())
print(name.lower())

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [8]:
name="ziko"
print(name[::-1])

okiz

**10- Write a Python program to remove a newline in Python

In [ ]:
string=input("enter the word")
print(string.replace(""," "))

**11-Write a Python program to check whether a string starts with specified characters

In [9]:
name= input()
x="A"
if name.startswith(x):
    print("yes")
else:
    print("no")

if name[0]== x :
    print("ok")
else:
    print("not ok")

no
not ok

**12- Write a Python program to add prefix text to all of the lines in a string

In [10]:
string=""" ahmed is the best
ali is amazing"""
seplines= string.splitlines()
for line in seplines:
    print("mr."+ line)

mr. ahmed is the best
mr.ali is amazing

**13-Write a Python program to print the following numbers up to 2 decimal places

In [11]:
number= 2.32566
print(round(number,2))

2.33

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

**15-Write a Python program to display a number with a comma separator

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
name="ziko ali"
reversed= name[::-1]
print(reversed)

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [12]:
word="zikoali"
d=dict()
for ch in word:
    d[ch] =word.count(ch)
print(d)

{'z': 1, 'i': 2, 'k': 1, 'o': 1, 'a': 1, 'l': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [13]:
name="rrttyygghhffnnzuuii"
for x in name:
    if name.count(x) ==1 :
        print(x)

z

**19-Write a Python program to remove spaces from a given string

In [15]:
name ="ziko ali"
x=name.replace(" ","")
print(x)

zikoali

**20-Write a Python program to count the number of non-empty substrings of a given string

In [16]:
def number_of_substrings(str):
    str_len= len(str);
return int(str_ len *(str_ len+1)/2);

SyntaxError: invalid syntax. Perhaps you forgot a comma? (913565726.py, line 3)

**21-write a Python program to swap first and last element of any list.

In [18]:
x=[2,5,8,7,6,9]
x[0], x[-1] =x[-1],x[0]
print(x)

[9, 5, 8, 7, 6, 2]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [25]:
List = [23, 65, 19, 90]
List[0],List[-2] = List[-2] ,List[0]
print(List)

[19, 65, 23, 90]

In [26]:
List = [23, 65, 19, 90]

List.remove(23)
List.remove(19)
List.insert(0,19)
List.insert(2,23)
print(List)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [27]:
x=["ziko","ali","mohamed"]
y=0
for i in x:
    y +=1
print(y)

3

In [28]:
x=["ziko","ali","mohamed"]
z=len(x)
print(z)

3

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [9]:
list=[3, 91, 7, 30, 6, 0, 7, 24, 6]
print(max(list))

91

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [10]:
list=[3, 91, 7, 30, 6, 0, 7, 24, 6]
print(min(list))

0

**26-search for if an elem is existing in list

In [1]:
list=[3, 91, 7, 30, 6, 0, 7, 24, 6]
x=int(input("plese enter num"))
if x in list:
    print("true")
else:
    print("folse")

true

**27- clear python list using different ways

In [13]:
list=[3, 91, 7, 30, 6, 0, 7, 24, 6]
list.clear()
print(list)

[]

**28-remove duplicated elements from a list

In [29]:
list1=[3, 3, 7, 3, 6, 6 , 0 , 7, 24, 6]
list1=list(set(list1))
print(list1)

TypeError: 'list' object is not callable

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

4

**30-write a python program to count unique values inside a list using different ways

In [38]:
list= [7,8,9,6,7,9,8]
x=len(set(list))
print(x)

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [33]:
list=[1,2,2,3,4,5]
list.remove(1)
print(list)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
digits = [1, 2, 3]

for i in digits:
    for j in digits:
        if j != i:
            for k in digits:
                if k != i and k != j:
                    print(i, j, k, '##')

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [4]:
import itertools
List_1 = ["a", "b"]
List_2 = [1, 2]
combinations = list(itertools.product(List_1, List_2))

unique_combinations = []
for i, comb1 in enumerate(combinations):
    for j, comb2 in enumerate(combinations[i+1:]):
        if set(comb1) & set(comb2) == set():
            unique_combinations.append([comb1, comb2])

print(unique_combinations)

[[('a', 1), ('b', 2)], [('a', 2), ('b', 1)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [17]:
list =[ 1, 1, 2, 3, 4, 5 ,1 ,2, 1 ]
x=set(list)
x.remove(1)
x.add(2)
print(x)

{2, 3, 4, 5}

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [10]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

new_list = []
for i in range(len(list2)):
    new_list.append(list1[list2[i]])
print(new_list)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [15]:
list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
x = [t for t in list if t.count(K) == N]
print(x)

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [14]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

SyntaxError: invalid syntax (1197306156.py, line 1)

In [13]:
list={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [39]:
test_dict = {"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6," geeks" :" CS"}
del test_dict["best"]
del test_dict["is"]
print(test_dict)

{'Gfg': 3, 'for': 6, ' geeks': ' CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [18]:

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
# Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
result = {}
result.update(dic1)
result.update(dic2)
result.update(dic3)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [7]:
x = {'a': 1, 'b': 2, 'c': 3}
 
for key in x:
    print(key) 
 
for value in x :
    print(value)

for key , value in x.items() :
    print(key,value)

a
b
c
a
b
c
a 1
b 2
c 3

**44- Write a Python script to merge two Python dictionaries

In [2]:

x1 = {'a': 1, 'b': 2}
x2 = {'c': 3, 'd': 4}
# z= x1 +x2
# print(z)
merged_x=x1.copy()
merged_x.update(x2)
print(merged_x)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [9]:
x = {'a': 10, 'b': 2, 'c': 30}
max=max(x.values())
min=min(x.values())

print(max)
print(min)

30
2

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [10]:
x=tuple(range(5))
print("the numper is", x[3])

the numper is 3

**48-Write a Python program to unpack a tuple into several variables

In [14]:
tuple = ('ziko', 'ali', 20)

first_name, last_name, age = tuple

print('First name:', first_name)
print('Last name:', last_name)
print('Age:', age)

First name: ziko
Last name: ali
Age: 20

**49-Write a Python program to add an item to a tuple

In [3]:
tuple = ('ziko', 'ali', 20)
tuple_list=list(tuple)

tuple_list.append(10)

print(tuple_list)

['ziko', 'ali', 20, 10]

In [25]:
tuple = ('ziko', 'ali', 20)

new_tuple = tuple + (6,)

print('New tuple:', new_tuple)

New tuple: ('ziko', 'ali', 20, 6)

**50-Write a Python program to convert a tuple to a string

In [8]:
tuple = ('ziko', 'ali', 20)
tuple_list=string(tuple)
print(tuple_list)

NameError: name 'string' is not defined

**51-Write a Python program to convert a list to a tuple

**52-Write a Python program to reverse a tuple

In [32]:


tuple = (1, 2, 3, 4, 5)

reversed_tuple =tuple[::-1]

print(reversed_tuple)

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

**56-Write a Python program to add member(s) to a set.

**57-Write a Python program to remove an item from a set if it is present in the set.

In [9]:
x = {'Python', 'Java', 'English'}


x.remove('English')


print(x)

{'Java', 'Python'}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [11]:
x = {0, 2, 4, 6, 8}
z = {1, 2, 3, 4, 5}


print("Union of E and N is",x | z)


print("Intersection of E and N is",x & z)


print("Difference of E and N is",x -z)


print("Symmetric difference of E and N is",x ^ z)

Union of E and N is {0, 1, 2, 3, 4, 5, 6, 8}
Intersection of E and N is {2, 4}
Difference of E and N is {0, 8, 6}
Symmetric difference of E and N is {0, 1, 3, 5, 6, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [12]:
number = [9, 34, 11, -4, 27]


max = max(number)
min= min(number)
print(max)
print(min)

# Output: 34

34
-4

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.